
#menu a {
    color: rgb(255, 255, 255);
    font-size: 20px;

}

.carousel-inner {
    display: flex;
    justify-items: center;
    justify-content: center;
    max-height: 34rem;
    max-width: 60rem;
}
.title {
    display: flex;
    justify-content: center;
    background-color: red;
    height: 66px;
    
}
.maincontainer{
    height: 817px;
}
.maincontainerproducto
{
    height: 802px;
}
.maincontacto{
    height: 800px;
}
.containernosotros{
    height: 817px;
}
.containerubicacion{
    height: 817px;
}
.col{
    display: flex;
    overflow: hidden;
    justify-content: center;
    width: 600px;
    height: 500px;
}
.ubicacion{
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 40px;
}
.cardbody{
    width: 100px;
    height: 200px;
}
.iconos{
    display: flex;
    gap: 20px;
}
.copy{
    color: white;
    
}
@media (max-width: 650px) {
    .title{ 
        font-size: 25px;
    }
    
}