@import "utilidades.scss";

footer {

    padding: 10px;
    justify-content: center;
    
    display: flex;
    padding: 20px;
    gap: 20px;
  
 
    
}
.footer1 {
    padding: 10px;
    justify-content: center;
    margin-top: 1000px;
    display: flex;
    padding: 20px;
    gap: 20px;
  
}