@import "utilidades.scss";


.logo {
    display: flex;
    justify-content: left;
    overflow: auto;
}

nav {
    display: flex;
    justify-content: center;

    .lista {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 15px;
        
    }

}
header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

header ul li a {
    text-decoration: none;
    color: white;
    font-family: Roboto, "sans-serif";
    font-size: 1.2rem;
}

header ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: yellowgreen;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

header ul li:hover::before {
    width: 100%;}

li {
    font-family: $fontFamily;
    font-size: $fontSize;
    list-style: none;
}

a  {
    color: $colorfuente;
    text-decoration: none;
}

@media screen and (max-width: 768px) {

    nav .lista {
        flex-direction: column;
    }
}