@import "utilidades.scss";

/* Estructura principal */
main {
    background-color: $colorbg;
    @include sizes(auto, 777px);
    overflow: hidden;
}
.main-container{
    display: flex;
    justify-content: center;
}
.main-ubicacion {
    display: flex;
    justify-content: center;
    @include sizes(auto, 675px);

}

/* Titulos */
.h1 {
    font-size: $fuenteTitulo;
    background-color: rgb(255, 0, 0);
    font-family: $fontFamily;

}

.h1-index {
    @extend .h1;
    display: flex;
    justify-content: map-get($map: $estilotitle, $key: centro);

}

.h1-productos {
    @extend .h1;
    display: flex;
    justify-content: map-get($map: $estilotitle, $key: centro);
    background-color: map-get($map: $estilotitle, $key: color);

}

.h1-ubicacion {
    @extend .h1;
    display: flex;
    justify-content: map-get($map: $estilotitle, $key: centro);
    background-color: map-get($map: $estilotitle, $key: color);
}

.h1-nosotros {
    display: flex;
    justify-content: map-get($map: $estilotitle, $key: centro);
    background-color: map-get($map: $estilotitle, $key: color);

}

.h1-contactos {
    display: flex;
    justify-content: map-get($map: $estilotitle, $key: centro);
    background-color: map-get($map: $estilotitle, $key: color);
}

#carousel {
    display: flex;
    width: 1920x;
    height: 500px;
    overflow: hidden;

}

/* MediasQ */
@media screen and (max-width: 768px) {

    .imagenes {
        flex-direction: column;
        align-items: center;

    }
.carousel-item {
    width: 600px;

}
    #carousel{
        max-width: 600px;
        max-height: 600px;
    }
}