@import "utilidades.scss";

main{
    background-color: $colorbg;
    @include sizes(auto, 777px);
    overflow: hidden;
    
}
.carousel{}

    
h1{
    display: flex;
    justify-content: center;
    background-color: $bgtitle;
    font-family: $fontFamily;
}

@media screen and (max-width: 768px) {

    .imagenes {
        flex-direction: column;
        align-items: center;
    
    }
    main{
        height: 900px;
    }
}

