* {
    padding: 0px;
    margin: 0px;
}

/* Colores */
$colorbg: white;
$bgtitle: rgb(255, 0, 0);
$colortitle: white;
$colorheader: grey;
$colorfooter: grey;
$colorfuente: white;
$colordescripcion: grey;



/* Fuente */
$fontFamily: 'Times New Roman', Times, serif;
$fontSize: 20px;
$fuenteTitulo: (
    "fontSize 30px"
);

$estilotitle: (
    color: red, 
    centro: center,

);

@each $color,
$value in $estilotitle {
    .#{$color} {
        color: $value;
    }
}
$estilotitle2: (
    color: rgb(48, 160, 54), 
    izquierda: left,

);

@each $color,
$value in $estilotitle2 {
    .#{$color} {
        color: $value;
    }
}


@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}

.title {
    border: 1px;
    font-size: $fontSize;
}

font {
    font-size: $fontSize;
    font-family: $fontFamily;
}
