* {
    padding: 0px;
    margin: 0px;
}

/* Colores */
$colorbg: white;
$bgtitle: rgb(255, 0, 0);
$colortitle: white;
$colorheader: grey;
$colorfooter: grey;
$colorfuente: white;



/* Fuente */
$fontFamily: 'Times New Roman', Times, serif;
$fontSize: 20px;
$fuenteTitulo: (
    "fontSize 30px"
);


@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}

.title {
    border: 1px;
    font-size: $fontSize;
}

font {
    font-size: $fontSize;
    font-family: $fontFamily;
}
